<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asteroids</title>
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="container">
      <div class="header">
      </div>

      <div class="instructions">
        Protect your ship from incoming asteroids! Tap the screen to shoot.
        Tap and hold to shoot more powerful blasts.
        Destroy as many asteroids as you can.
      </div>

      <div>
        <button id="play-button">Play</button>
      </div>

      <div class="game-container">
	<canvas id="game-canvas" width="300" height="400">
	  Canvas not supported.
	</canvas>
      </div>

      <div class="footer">
	Koalah
      </div>

      <script src="js/InputManager.js"></script>
      <script src="js/Util.js"></script>
      <script src="js/ImageRepository.js"></script>
      <script src="js/GameObjects.js"></script>
      <script src="js/Map.js"></script>
      <script src="js/Game.js"></script>
      <script src="js/Application.js"></script>
    </div>
  </body>
</html>
